#about {
  @include style(url("../img/singularity-bg.png"), $digsym-white);
  @include padded($pad * 2);
  background-position: center center;
  background-size: cover;
  h3 {
    border-left: 5px solid $digsym-gold;
    padding-left: 15px;
    line-height: 3rem;
    span {
      color: $digsym-gold;
    }
  }
  a {
    color: $digsym-gold;
    &:hover {
      color: $digsym-gold-shade;
    }
  }
}

#digsym-about {
  @include style($black-med, $digsym-off-white);
  @include padded($pad);
  a {
    color: $digsym-gold;
    &:hover {
      color: $digsym-gold-shade;
    }
  }

}
