#foot {
  @include style ($digsym-white, $black-med);
  min-height: 300px;
  padding-top: $pad;
  i {
    color: $black-med;
    font-size: 3rem;
  }
  .adcl-footer {
    height: 40px;
  }
  p {
    padding: 20px;
    a {
      color: $digsym-gold;
    }
  }
  .top {
    color: $black-med;
    font-size: 2rem;
  }
}
