$x-large: 1170px;
$large: 992px;
$medium: 768px;
$small: 540px;
$x-small: 480px;
$pad : 4rem;
@mixin padded ($padding) {
  padding-top: $padding;
  padding-bottom: $padding * 1.25;
}

@mixin style ($bg, $body) {
  background: $bg;
  color: $body;
}

body  {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover, a:active, a:focus {
   outline: 0;
   text-decoration: none;
}

iframe {
pointer-events: none;
}

.trans  {
  transition : all .5s;
}

.btn {
  border-radius: 0;
}

.padded {
  padding-top: $pad / 2;
  padding-bottom: $pad;
}

.section-heading {
  text-align: left;
  padding-bottom: 2rem;
  a {
    color: $digsym-gold;
  }
}
