#hero {
    @include style(url("../img/hero-3.jpg"),
    $digsym-white);
    margin-top: 90px;
    display: flex;
    align-items: center;
    height: 50vh;
    min-height: 500px;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center top;
    position: relative;
    .overlay {
        background-color: $black-low;
        opacity: .5;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        min-width: 100%;
        height: 50vh;
        min-height: 500px;
    }
}

#get-tickets {
    @include style($digsym-blue,
    $digsym-white);
    @include padded($pad);
    .btn-get-tix {
        border: none;
        border-radius: 0;
        background: $black-low;
        color: $digsym-white;
        @extend .trans;
        font-size: 3rem;
        &:hover {
            background: $black-med;
            color: $digsym-white;
        }
    }
}