#location {
  @include style ($black-hi, $digsym-white);
  @include padded($pad);
  small {
    color: $black-hi;
    font-size: 1.3rem;
  }
  .white-container {
    @include padded($pad);
    background: #fff;
    color: #222;
  }
}
