@media screen and (max-width: $screen-xs-max) {
  $pad: 1rem;
  h2 {
    font-size: 2.1rem;
  }
	body  {
  		margin-top : 60px;
      font-size: 16px;
	}

	#main-nav {
  	height: 61px;
    .navbar-header {
      height: 43px;
    }
    .mobile-nav-icon {
      img {
        height:40px;
      }
    }
    #btn-get-tix {
      height: 60px;
    }
  }

  #hero {
    @include padded($pad);
    margin-top: 60px;
    height: 500px;
    .overlay {
      top: 60px;
      height: 500px;
    }
    .hero-logo {
      width: 75%;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 14px;
    }
  }

  #get-tickets {
    text-align: center;
    padding-top: $pad/2;
    padding-bottom: $pad;
    .btn-get-tix {
      font-size: 2rem;
    }
  }

  #about {
    @include padded($pad);
  }

  #digsym-about {
    @include padded($pad);
  }

  #speakers {
    @include padded($pad);
    h1 {
      font-size: 2.7rem;
    }
    #speakers-left {
      padding-bottom: $pad*2;
    }
  }

  #agenda {
    @include padded($pad);
    h1 {
      font-size: 2.7rem;
    }
    .agenda-single {
      padding: 20px 15px;
    }
  }

  #location {
    @include padded($pad);
    h1 {
      font-size: 2.7rem;
    }
    .white-container {
      min-height: 0;
    }
  }

  #sponsors {
    @include padded($pad);
    .sponsor-p {
      max-width: 80%;
    }
    .sponsor-s {
      max-width: 100%;
      max-height: 90px;
    }
    .sponsor-e {
      max-width: 100%;
      max-height: 120px;
    }
  }

  #feed {
    @include padded($pad);
  }
}
