#main-nav {
    height: 90px;
    background-color: $digsym-white;
    border-bottom: 1px solid $black-med;
    .navbar-header {
        height: 100%;
    }
    a.navbar-brand {
        padding: 10px;
        height: 90px;
        width: 90px;
        margin-right: 50px;
        .nav-icon {
            height: 70px;
            width: 70px;
        }
    }
    .navbar-left {
        height: 100%;
        text-transform: uppercase;
        li {
            padding-top: 2rem;
            height: 90px;
            @extend .trans;
            a {
                color: $black-med;
            }
            &:hover {
                background: $digsym-gold;
                a {
                    color: $digsym-white;
                }
            }
        }
    }
    .navbar-right {
        height: 90px;
        li {
            display: flex;
            align-items: center;
            height: 100%;
            a {
                padding: 0px 5px;
                i {
                    font-size: 3rem;
                }
            }
        }
    }
}

#navbar-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1030;
    #main-nav {
        position: relative;
    }
}

#navbar-banner {
    background-color: #9c8d3c;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3rem;
    margin: 0px;
    padding: 20px;
}

#btn-get-tix {
    padding: 0 15px;
    border: none;
    background: $digsym-blue;
    color: $digsym-white;
    display: flex;
    align-items: center;
    height: 98%;
    @extend .trans;
    font-size: 2rem;
    &:hover {
        color: $digsym-white;
        background: $digsym-blue-shade;
    }
}