#agenda {
  @include style(url("../img/bkg_pattern.png"), $digsym-white);
  background-position: center center;
  @include padded($pad);
  a {
    color: $digsym-white;
    &:hover {
      color: $digsym-blue;
    }
  }
  .agenda-single {
    background: $black-hi;
    margin-bottom: 1rem;
    padding: $pad;
    .agenda-left {
      h3 {
        margin-top: 0;
        img {
          margin-top: 2rem;
        }
      }
    }
    .agenda-right {
      img {
        width: 50%;
        @media (max-width: $x-small) {
          width: 100%;
        }
      }
      p {
        color: $digsym-off-white;
        margin-bottom: 2rem;
        line-height: 2.1rem;
        a {
          &:hover {
            color: $digsym-gold;
          }
        }
      }
      h4 span {
        font-size: 70%;
        color: $digsym-off-white;
        text-transform: uppercase;
      }
    }
  }
  .agenda-single:last-child{
    @include style($digsym-blue, $digsym-white);
    h3 {
      color: $digsym-white;
      margin-bottom: 3rem;
    }
    img {
      margin-bottom: 3rem;
    }
  }
}
