.speakers {
  @include style ($black-low, $digsym-white);
  @include padded($pad);
  #speakers-left {
  	cursor: pointer;
    .media {
      padding: 10px;
      margin-top: 0;
      &:hover {
        background-color: #000;
      }
      .pull-left {
      	padding-right: 0;
      }
      img {
        height: 90px;
        width: 90px;
      }
    }
    .active {
      background: $black-med;
    }
    .media-body {
    	padding-left: 10px;
    }
  }

.speakers-white-box {
  @include style ($digsym-white, $black-low);
  @include padded ($pad);
  a {
    color: $digsym-gold;
  }
  .tab-pane {
    .panels {
      background: #eee;
      padding: 10px;
      margin-bottom: 10px;
    }
    .speaker-info {
      .social-icon {
        color: $digsym-gold;
        padding-right: 5px;
        float: right;
        font-size: 3rem;
      }
      .logo-sponsor {
        margin-top: 1rem;
        width: 200px;
        max-width: 200px;
      }
    }
    h4 {
      text-transform: uppercase;
    }
    h5 {
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $black-hi;
    }
  }
}

}
#accordion {
  .panel {
    border: none;
    .acc-top {
      @include style ($black-low, $digsym-white);
      padding-top: 1rem;
      padding-bottom: 1rem;
      .acc-left {
      }
      .acc-right {
        color: $digsym-white;
      }
    }
    .acc-white-box {
      @extend .speakers-white-box;
      padding-top: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 2rem;
      .social-icon {
        color: $digsym-gold;
        padding-right: 5px;
        float: right;
        font-size: 3rem;
      }
      .logo-sponsor {
        margin-top: 1rem;
        width: 200px;
        max-width: 200px;
      }
      .panels {
        background: #eee;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

#feed {
  padding-top: $pad;
  iframe {
    width: 100%!important;
    min-height: 2000px!important;
  }
}
