#sponsors {
  @include style ($digsym-off-white, $black-hi);
  @include padded($pad);
  .row {
    margin-bottom: 2rem;
  }
  .sponsor-p {
    max-width: 60%;
    padding: 20px;
  }
  .sponsor-ses {
    max-width: 100%;
  }
  .sponsor-e {
    max-width: 200px;
  }
  .sponsor-g {
    max-width: 300px;
  }
  .sponsor-s {
    max-width: 60%;
    max-height: 90px;
    margin-bottom: 3rem;
  }
  .sponsor-ep {
    max-width: 60%;
    max-height: 100px;
  }
}
