@font-face {
  font-family: 'adcl_icons';
  src: url('../font/adcl_icons.eot?68159565');
  src: url('../font/adcl_icons.eot?68159565#iefix') format('embedded-opentype'),
       url('../font/adcl_icons.woff2?68159565') format('woff2'),
       url('../font/adcl_icons.woff?68159565') format('woff'),
       url('../font/adcl_icons.ttf?68159565') format('truetype'),
       url('../font/adcl_icons.svg?68159565#adcl_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'adcl_icons';
    src: url('../font/adcl_icons.svg?68159565#adcl_icons') format('svg');
  }
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "adcl_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-circle:before { content: '\e805'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
